@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300&display=swap');
*{
    padding: 0;
    margin: 0;
    font-family: 'Roboto', sans-serif;
}

#title{
    text-align: center;
    font-size: 30px;
    font-weight: bold;
    color: rgb(234, 14, 14);
}

body{
    background-color: #FCEEC8;
}
.container{
    width: 90%;
    padding-top: 50px;
}

.card{
    width: 200px;
    background-color:#9EDEF9;
    border-radius: 1rem;
    box-shadow: 0 5px 5px rgba(0,0,0,0.5);
    box-sizing: border-box;
}

.mid-container .main-container{
    background-color: #d5e396;
}

.mid-container{
    display: flex;
    justify-content: center;
}

.main-card{
    display: flex;
    margin: 0 15%;
    font-weight: bold;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.main-card img{
    max-width: 350px;
}

.columns{
    display: flex;
    justify-content: center;
}

.randomButton{
    display: flex;
    align-self: center;
    width: 50%;
    padding: 0.5em;
    margin: 2px;
    border-radius: 8px;
}

.card img{
    height: 3rem;
    width: 2.5rem;
}

.card--name{
    text-transform: uppercase;
    font-weight: bold;
    white-space: nowrap;
}

.abilities .type{
    width: 70%;
    margin: auto;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 1rem;
}

.abilities{
    background-color: #58b0c8;
    color: white;
    padding: 0.5rem;
    font-size: 12px;
    border-radius: 8px;
    margin-left: 1rem;
    text-transform: uppercase;
}

.main-title{
    /* background-color: #58b0c8;
    color: white; */
    text-transform: uppercase;
}

.main-name{
    font-weight: 900;
}

.main-type{
    text-transform: uppercase;
}

.base-stat{
    margin-top: 2rem;
}

.btn-group{
    display: flex;
    height: 5em;
    justify-content: center;
}

button{
    font-family: 'Roboto', sans-serif;
}

.btn-group button{
    outline: none;
    border: none;
    width: 150px;
    height: 80px;
    padding: 0.3rem 0;
    margin: 1rem;
    font-size: 17px;
    font-weight: bold;
    color: white;
    background-color: #643239;
    border-radius: 8px;
}